<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="regedit" class="com.gc.service.impl.RegeditImpl">
		<property name="userDAO">
           <ref local="userDAO" />
       </property>
	</bean>
<bean name="/regedit" class="com.gc.action.RegeditAction">
     <property name="regedit">
        <ref bean="regedit"/>
     </property>
</bean>
<bean name="/input" class="com.gc.action.RegeditAction">
     <property name="regedit">
        <ref bean="regedit"/>
     </property>
</bean>
<bean id="dataSource"
       class="org.apache.commons.dbcp.BasicDataSource"
       destroy-method="close">
       <property name="driverClassName">
           <value>com.mysql.jdbc.Driver</value>
       </property>
       <property name="url">
           <value>jdbc:mysql://localhost/mySSH</value>
       </property>
       <property name="username">
           <value>root</value>
       </property>
       <property name="password">
           <value>root</value>
       </property>
  </bean>
  <bean id="sessionFactory"
  	class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
       <property name="dataSource">
           <ref local="dataSource" />
       </property>
       <property name="mappingResources">
           <list>
              <value>com\gc\vo\User.hbm.xml</value>
           </list>
       </property>
       <property name="hibernateProperties">
	    <props>
	       <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	       <prop key="hibernate.show_sql">true</prop>
	    </props>
	</property>
  </bean>
  <bean id="transactionManager"
  	class="org.springframework.orm.hibernate3.HibernateTransactionManager">
       <property name="sessionFactory">
           <ref local="sessionFactory" />
       </property>
  </bean>
  <bean id="userDAOProxy"
  	class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
     <property name="transactionManager">
         <ref bean="transactionManager" />
     </property>
     <property name="target">
         <ref local="userDAO" />
     </property>
     <property name="transactionAttributes">
         <props>
            <prop key="create*">PROPAGATION_REQUIRED</prop>
			<prop key="update*">PROPAGATION_REQUIRED</prop>
			<prop key="delete*">PROPAGATION_REQUIRED</prop>
            <prop key="query*">PROPAGATION_REQUIRED,readOnly</prop>
         </props>
     </property>
   </bean>
  <bean id="userDAO" class="com.gc.dao.impl.UserDAOImpl">
       <property name="sessionFactory">
           <ref local="sessionFactory" />
       </property>
  </bean>

</beans>
